.playerMove{
    display: flex;
    flex-direction: row;
    margin: 10%;
    justify-content: space-evenly;
    
}
.scoreboard{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
   
}

.playerScore .computerScore{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}

.playerScore > div{
    font-size: xx-large;
   
}

.computerScore > div{
    font-size: xx-large;
}

