body{
    font-family: 'Roboto', sans-serif;
    
    display: flex;
    flex-direction: column;
    
}

header{
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    font-size: 44px;
    flex-shrink: 2;
  
}
.heading{
    align-self: center;
}


.playerMove{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 2%;
    justify-content: space-evenly;
    flex-shrink: 2;
    flex-wrap: wrap;
    
}
.scoreboard{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-style:solid;
    margin-left: 10%;
    margin-right: 10%;
    flex-shrink:2 ;
    flex-wrap: wrap;
    
    
   
}

.currentSelections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.playerSelection>h2{
    padding-left: 25%;
    
}

.computerSelection>h2{
    padding-left: 25%;
}


.score{
    padding-left: 45%;
}

button>img{
    max-width: 200px;
    max-height: 200px;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
.grow:hover { 
    transform: scale(1.1); 
    }

.win {
    
    max-width: 500px;
    display: flex;
    align-self: center;
    margin-top: 20px;
}
.lose{
   
    max-width: 500px;
    display: flex;
    align-self: center;
    margin-top: 20px;
}



